
<div id="loginbox">
  <form action="/login" method="post">
    <label for="login[username]">Username</label>
    <input type="text" name="login[username]" id="login_username" />

    <label for="login[password]">Password</label>
    <input type="password" name="login[password]" id="login_password" />

    <input type="submit" value="Login" />
  </form>
</div>

